*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
}
main{
    margin: 50px 0px;
}
