.navbar{
    font-family: $navFont;
    display: flex;
    align-items: center;
    border-bottom: 1px solid hsl(0, 0%, 50%);
    padding: 20px 40px;
    .nav_items {
        display: flex;
        gap: 30px;
    }

  
    .nav_link {
        display: none;
        text-decoration: none;
        color: $universalTextColor;
        font-size: $navLinksSize;
        font-weight: 500;
        border-bottom: 1px solid transparent;
    }

    .nav_link{
        &:hover{
            border-bottom: 1px solid #303030;
        }
        &:active{
            border-bottom: 1px solid #303030;
        }
    }

    
    .mobile{
        display: flex;
        align-items: center;
        font-size: 2.5rem;
    }
}
.logo{
    margin-right: auto;
    font-size: 2.5rem;
    color: #303030;
    font-weight: 700;
}