// Nav
$navFont: 'Space Mono';
$universalTextColor: #303030;

// Nav links
$navLinksSize: 1.2rem;
$navLogo: 2.5rem;

// Headings
$headingFont: 'Butler Stencil';
$headingFontSize: 2.5rem;
$headingDescFont: 'Space Mono';
$headingDescFontSize: 1.2rem;

// Article description
$articleDescFont: 'Poppins';
$articleDescSize: 1rem;
